@{
    ViewData["Title"] = "Антенны";
}

@model IndexViewModel

<h3>
    Параметры поиска:
</h3>

<form method="get" class="row g-1">
    <div class="col-auto p-1">
        <label for="ip" class="visually-hidden">IP-адрес</label>
        <input type="text" name="ip" class="form-control" placeholder="IP-адрес" value="@Model.Filter.IpFiltering">
    </div>
    <div class="col-auto p-1">
        <label for="address" class="visually-hidden">Адрес</label>
        <input type="text" class="form-control" name="address" placeholder="Адрес" value="@Model.Filter.AddressFiltering">
    </div>
    <div class="col-auto p-1">
        <label for="ssid" class="visually-hidden">SSID</label>
        <input type="text" class="form-control" name="ssid" placeholder="SSID" value="@Model.Filter.SSIDFiltering">
    </div>
    <div class="col-auto p-1">
        <button type="submit" class="btn btn-outline-success btn-sm">Поиск</button>
    </div>
</form>

<h2>
    Список антенн:
</h2>

<div class="text-center">
    <div class="alert alert-success" role="alert">
        <h5>Совет по работе с сайтом.</h5>
        <hr>
        <p>Для изменения, удаления и получения подробной информации нажмите на IP адрес нужной вам антенны.</p>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">

            <tr>
                <th>Сервер/<br />Клиент</th>
                <th>
                    <a asp-action="Index"
                    asp-route-ip="@Model.Filter.IpFiltering"
                    asp-route-address="@Model.Filter.AddressFiltering"
                    asp-route-ssid="@Model.Filter.SSIDFiltering"
                    asp-route-sortOrder="@Model.Sort.IpSort">IP-Адрес</a>
                    @if (Model.Sort.Current == SortStateViewModel.IpAsc || Model.Sort.Current == SortStateViewModel.IpDesc)
                    {
                        if (Model.Sort.Up)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z"/>
                            </svg>
                        }else
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                            </svg>
                        }
                    }
                </th>
                <th>
                    <a asp-action="Index"
                    asp-route-ip="@Model.Filter.IpFiltering"
                    asp-route-address="@Model.Filter.AddressFiltering"
                    asp-route-ssid="@Model.Filter.SSIDFiltering"
                    asp-route-sortOrder="@Model.Sort.AddressSort">Адрес</a>
                    @if (Model.Sort.Current == SortStateViewModel.AddressAsc || Model.Sort.Current == SortStateViewModel.AddressDesc)
                    {
                        if (Model.Sort.Up)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z" />
                            </svg>
                        }
                        else
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                            </svg>
                        }
                    }
                </th>
                <th>
                    <a asp-action="Index"
                    asp-route-ip="@Model.Filter.IpFiltering"
                    asp-route-address="@Model.Filter.AddressFiltering"
                    asp-route-ssid="@Model.Filter.SSIDFiltering"
                    asp-route-sortOrder="@Model.Sort.SSIDSort">SSID</a>
                    @if (Model.Sort.Current == SortStateViewModel.SSIDAsc || Model.Sort.Current == SortStateViewModel.SSIDDesc)
                    {
                        if (Model.Sort.Up)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z" />
                            </svg>
                        }
                        else
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                            </svg>
                        }
                    }
                </th>
                <th>Пароль<br/>точки доступа</th>
            </tr>

            @foreach (var antenna in @Model.Antennas)
            {
                <tr>
                    @if (antenna.IsServer)
                    {
                        <td>Сервер</td>
                    }else
                    {
                        <td>Клиент</td>
                    }
                    <td><a asp-action=Details asp-route-id=@antenna.Id>@antenna.IP.StringIP</a></td>
                    <td>@antenna.Address.ShortAddress</td>
                    <td>@antenna.SSID</td>
                    <td>@antenna.AccessPointPassword</td>
                </tr>
            }
        </table>
    </div>

    <page-link page-action="Index" page-model=@Model.Pagination
               page-url-ip=@Model.Filter.IpFiltering
               page-url-address=@Model.Filter.AddressFiltering
               page-url-ssid=@Model.Filter.SSIDFiltering
               page-url-sortorder=@Model.Sort.Current
               class="p-1"></page-link>

</div>